# Supabase
VITE_SUPABASE_URL=https://mcehliagbaheuqondqhd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1jZWhsaWFnYmFoZXVxb25kcWhkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxMDE3NDMsImV4cCI6MjA5OTY3Nzc0M30.QjhQMLGoZ11B44VxnDSAXpDo1xF6S_ZoJRlfpYyCjOw
